TinyLibrary.WebApp/Service References/TinyLibraryService/TinyLibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3722/TinyLibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" />
  <xs:import schemaLocation="http://localhost:3722/TinyLibraryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q1:ArrayOfBookData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" minOccurs="0" name="bookData" nillable="true" type="q2:BookData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" minOccurs="0" name="readerData" nillable="true" type="q3:ReaderData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReaderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" minOccurs="0" name="GetBookDetailResult" nillable="true" type="q5:BookData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderRegistrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TinyLibrary.Services.DataObjects" minOccurs="0" name="GetReaderRegistrationsResult" nillable="true" type="q6:ArrayOfRegistrationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Borrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerUserName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bookId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Return">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerUserName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bookId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>